<h4> Hi, <%= session[:player_name]%>!</h4>

<div class="well">
  <h4>Your cards are:</h4>
    <% session[:player_cards].each do |card| %>
    <%= card_image(card) %>
    <%end%>
  <br/>
</div>

<div class="well">
  <h4>Dealer's cards are:</h4>
    <% session[:dealer_cards].each do |card| %>
    <%= card_image(card) %>
    <%end%>
  <br/>
</div>

Your total is: <%=calculate_total(session[:player_cards])%>
<br/>

What would you like to do?
<br/>
<%if @show_blackjack_buttons == true%>
<form id="hit_form" action="/hit" method="post">
  <button class="btn btn-success" type="submit">Hit</button>
</form>

<form id="stay_form" action="/stay" method="post">
  <button class="btn btn-warning" type="submit">Stay</button>
</form>
<%end%>
